tomcat7::tomcat_applications:
  'artifcatId':
    aliases:
      - 'int.artifcatId.dev.arvm.de'
      - 'dev-artifcatId.mondiamedia.com'

tomcat7::jndi_resources:
  'jdbc/artifcatId':
    description: 'artifcatId Connector'
    username: 'databasusername'
    password: '>
      password'
    url: 'jdbc:mysql://m.mysql-db62-hh.dev.arvm.de:3306/dbName?useUnicode=true&amp;characterEncoding=UTF-8'

tomcat7::jmx_configuration_users:
  'view':
    password: 'password',
    access: 'readonly'

http_checks: '-u "/deploymentInfo.servlet" -p 8080 -e "HTTP/1.1 200 OK"'
yaammf_url: '/infoCheck?doChecks=true'

tomcat7::enable_remoteipvalve: true
tomcat7::remote_ip_header: 'non-existent-header-eih3e'
tomcat7::protocol_header: 'ISSSL'
tomcat7::protocol_header_https_value: 1
tomcat7::utf8_uri_encoding: 'true'

fs_files:
  '/app/artifcatId/data':
    ensure: 'directory'
    owner: 'tomcat'
    group: 'webapp'
    mode: '0777'
